<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragment</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:fragment="transaccionForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form>
        
            <label class="col-form-label"> Fecha operacion </label>
            <input class="form-control" type="date" id="fecha_operacion" 
            name="fecha_operacion" required th:value="${operacion_cuenta.fecha_operacion}"/>


            <label class="col-form-label"> Monto pago </label>
            <input class = "form-control" type ="number" id="monto_pago"
            name = "monto_pago" required th:value="${operacion_cuenta.monto_pago}"/>


            <label class="col-form-label"> Numero Cuenta Origen</label>
            <input class = "form-control" type ="number" id="cuenta_origen"
            name = "numero_cuenta" required th:value="${numero_cuenta}"/>

            <label class="col-form-label"> Numero Cuenta Destino </label>
            <input class = "form-control" type ="number" id="cuenta_destino"
            name = "cuenta_destino" required th:value="${operacion_cuenta.cuenta_destino}"/>

            <label class="col-form-label" for="puntoAtencion">Punto de Atencion:</label>
            <select class="form-control" id="puntoAtencion" name="puntoAtencion" required >
            <th:block th:each = "puntoAtencion:${puntosAtencion}">
                    <option th:value="${puntoAtencion.id}" th:selected="${puntoAtencion.id}" th:text="${puntoAtencion.id}"></option>
                </select>
            </th:block>

            <br>
            <div class="text-center">
                <input type="submit" value="Guardar" class="btn btn-primary">
                <a th:href="@{/}" class="btn btn-primary">Cancelar</a>
            </div>
        </form>
    </div> 

</body>
</html>